/*
	styles for animation
*/
.page-transition-enter {
	opacity: 0.1;
	transform: rotateY(90deg) translateX(100%);

	position: absolute;
}

.page-transition-enter.page-transition-enter-active {
	opacity: 1;
	transform: rotateY(0deg) translateX(0%);
  	transition: all 500ms ease-in;

  	position: absolute;
}

.page-transition-leave {
	opacity: 1;
	transform: rotateY(0deg) translateX(0%);

	position: absolute;
}

.page-transition-leave.page-transition-leave-active {
	opacity: 0.01;
	transform: rotateY(-90deg) translateX(-100%);
  	transition: all 500ms ease-in;

  	position: absolute;
}