.sp-carousel {
	flex: 0 0 auto;
	min-height: 300px;

	display: flex;
	flex-direction: column;
	overflow: hidden;

	position: relative;

	@media screen and (max-width: 960px) {
		min-height: 0;
	}

	.sp-carousel-header {
		// z-index: @z-above-loading;
	}

	.sp-carousel-body {
		height: 400px;
		position: relative;
	    background: #252a2d;
	}
	.sp-carousel-footer {
		background: white;
		position: relative;
		display: flex;
    	justify-content: center;

		height: 100px;

		@media screen and (max-width: 960px) {
			height: 50px;
		}
	}

	.sp-carousel-image {
		position: absolute;
		bottom: 100%;
		max-width: 1080px;
	}
}