.sp-body {
	.c-f-falling-square-1 {
		position: absolute;
		left: 50;
		top: -10;

		background: white;

		width: 50px;
		height: 50px;

		transform: rotate(-4deg);
	    border-radius: 5px;
	}

	.c-f-falling-square-2 {
		position: absolute;
		left: 50;
		top: 50;

		background: white;

		width: 35px;
		height: 35px;

		transform: rotate(41deg);
	    border-radius: 5px;
	}

	.c-f-falling-square-3 {
		position: absolute;
		left: 50;
		top: 110;

		background: white;

		width: 20px;
		height: 20px;

		transform: rotate(71deg);
	    border-radius: 5px;
	}
}