.sp-drawer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;

	.sp-drawer-title {
		color: #365764;
		font-size: 2.1rem;

		margin-bottom: 1rem;

		width: @sp-web-width;
	}

	.sp-drawer-content {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
}