@sp-theme-color: #3c3c3c;
@sp-theme-background: #e4c580;
@sp-theme-font-color: white;

.sp-content {
	background-color: @sp-theme-background;
	color: @sp-theme-font-color;
	// background-image: url("http://www.superperspective.com/media/sp-tree_bark.png");
    // background-repeat: repeat-y;

	display: flex;
	flex-direction: column;
    overflow: auto;

	font-size: 10px;
	font-family: 'Raleway', sans-serif;

	.sp-header {
		flex: 0 0 auto;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    padding-bottom: 1rem;
	}
	.sp-body {
		flex: 1 1 auto;
		padding: 50px;

		display: flex;
	    flex-direction: column;
		justify-content: center;
		align-items: center;

	    @media screen and (max-width: 960px) {
			padding: 10px;
		}
	}

	.sp-footer {
		padding: 2rem;
		flex: 0 0 auto;

		display: flex;
		justify-content: center;

		color: white;
		font-size: 0.8rem;
	}

	/* header styles */
	.header-menu {
		flex: 0 0 auto;
	    display: flex;
	    flex-direction: row;
	    justify-content: center;
	}

	.header-button {
		flex: 0 0 auto;
		width: 10rem;
		height: 3rem;
		box-sizing: border-box;;

		margin: .5rem;
		padding: 5px;
		
		font-size: 1.4rem;
		color: white;
		border: 2px solid white;
		background-color: transparent;
		border-radius: 5px;

		&:hover {
			font-weight: bold;
		}

		&.selected, &:active {
			color: gray;
			background-color: white;
		}
	}

	.content-row {
		flex: 0 0 auto;
		width: 100%;
		display: flex;
		flex-direction: column;

		align-items: center;
		justify-content: center;
		margin-top: 1rem;
	}

	.content-box {
		flex: 0 0 auto;
		max-width: 100%;

		diplay: flex;
		justify-content: center;
	}

	.content-box-img {
		width: 500px;
		height: auto;

		border-radius: 20px;
		border: 5px solid white;
		overflow: hidden;
	}

	.content-text {
		font-size: 1rem;
	}

	.title {
		color: white;
		position: absolute;

		flex: 0 0 auto;
		font-size: 2rem;
		margin: 0;
		z-index: 2;

		width: 100%;
		padding: 50px 10px;
		box-sizing: border-box;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	.logo.floating {
		position: absolute;
		top: 0;
	    left: 50%;
    	transform: translateX(-50%);

		z-index: 1;
	}
	.logo {
		width: 130px;
		height: auto;
	}

	//
	.body-divider {
		height: 1px;
		border-top: 5px solid white;
	}
}

//tablet-mobile
@media (max-width: 640px) {

  	.sp-content {
		.content-box {
			.content-box-img {
				width: 300px;
				margin: 10px;
			}
		}

		//header
		.title {
  			font-size: 2rem;
  			padding: 30px 10px;
  		}
  		.logo {
			width: 100px;
		}
		.header-menu {
			flex-direction: column;
			align-items: center;
		}
		.header-button {
			margin: .3rem;
			width: 14rem;
			height: 2.5rem;
			font-size: 1rem;
		}

  	}
}

//reset
body {
	margin: 0;
}
p {
	margin: 0;
}