@import 'about.less';
@import 'animation.less';
@import 'carousel.less';
@import 'homepage.less';
@import 'decals.less';
@import 'drawer.less';
@import 'media.less';
@import 'portrait.less';

@sp-web-width: 80%;

@z-above-loading: 2;
@z-loading: 1;

.show-pointer {
	cursor: pointer;
}

img {
	max-width: 100%;
	width: 100%;
	height: auto;
	box-sizing: border-box;
}

.loading {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 50%;
    right: 0;
    height: 100px;
    width: 100px;
    transform: translateX(-50%) translateY(-50%);

    z-index: @z-loading;
}

.loading.disabled {
	display: none;
}