/* ImageGallery.jsx */
.sp-image-gallery {
	.media-box-primary,
	.media-box-secondary {
		display: flex;
	}
	
}
	/* TODO: mobile friendly one-big */
.sp-image-gallery.mod-one-big {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: @sp-web-width;

	.media-box-primary {
		flex: 1 1 70%;
	}

	.media-box-secondary {
		flex: 1 1 30%;
		display: flex;
		flex-direction: column;

		margin-left: 1rem;
	}

	.media-box-primary .sp-media-container {
		margin: 0;
		align-items: flex-start;
	}
	.media-box-secondary .sp-media-container > .sp-media {
		max-height: 120px;
	}
}
/* MediaBox.jsx */
.sp-media-container ~ .sp-media-container {
	margin-top: 0.5rem;
}
.sp-media-container {
	.sp-media {
		flex: 1 1 auto;
		background: white;
		border: 3px solid white;
		border-radius: 4px;

		position: relative;
		overflow: hidden;
	
		@media screen and (max-width: 960px) {
			width: @sp-web-width;
			height: auto;
		}

		@media screen and (max-width: 320px) {
			width: 200px;
			height: auto;
		}
	}
	.sp-media img:not(.loading) {		
	    // z-index: @z-above-loading;
	}


	&.mod-floating {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	//caption description
	.media-caption {
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;

		padding: 1rem;

		background: rgba(0,0,0, .5);
		color: white;

		min-height: 3rem;
		font-size: 1rem;

		transition: transform 500ms;
		transform: translateY(100%);
	}
	.media-caption.active {
		transform: translateY(0%);
	}
}

.sp-media-fullscreen-container {
	position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;

    background: rgba(0,0,0, .8);
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    .sp-media {
		max-width: 80%;
		flex: 0 0 auto;
		height: auto;

		margin: 0;
	}

	.sp-media img {
		width: 100vh;
	}

}
.sp-full-video {
	width: 100%;
	min-width: 800px;

    // z-index: @z-above-loading;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

//social
.sp-drawer-content.social-media-links {
	display: flex;
	flex-direction: row;
}
.social-item ~ .social-item {
	margin-left: 1rem;
}
.social-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}