.sp-creators {
    width: 80%;
	display: flex;
    flex-wrap: wrap;
    justify-content: center;

	.sp-creator-container ~ .sp-creator-container {
		margin-left: 1.5rem;
	}

	.sp-creator-container {
		color: white;
		display: flex;
		flex-direction: column;
		align-items: center;

		border-radius: 8px;
		font-size: 1.2rem;
	}

	.sp-creator-portrait {
		margin-top: 1rem;

		border-radius: 8px;
		background: white;
		border: 2px solid white;

		position: relative;
		overflow: hidden;
		width: 200px;
		height: 120px;

	    // position: absolute;
	    // left: 50%;
	    // top: 50%;
	    // transform: translate(-50%, -50%);
	}

	.sp-creator-name {
		flex: 0 0 auto;
	}
}